<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
<title>Google Maps JavaScript API v3 Example: Directions Complex</title>

<style>
html{height:100%;}
body{height:100%;margin:0px;font-family: Helvetica,Arial;}
</style>
<script src="http://code.jquery.com/jquery-1.12.1.min.js"
			  integrity="sha256-I1nTg78tSrZev3kjvfdM5A5Ak/blglGzlaZANLPDl3I="
			  crossorigin="anonymous"></script>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?key=AIzaSyBxmF8yMl0hBcK2-YnKpdB16V50ZOhcq_M&sensor=false"></script>
<script type ="text/javascript" src="static/v3_epoly.js"></script>
<script type="text/javascript"> 
var map;
var directionDisplay;
var directionsService;
var stepDisplay;
var markerArray = [];
var position;
var marker = null;
var polyline = null;
var poly2 = null;
var speed = 0.000005,
    wait = 1;
var infowindow = null;

var myPano;
var panoClient;
var nextPanoId;
var timerHandle = null;
var start = {lat: {{start_lat}}, lng: {{start_lng}}};
var end = {lat: {{end_lat}}, lng: {{end_lng}}};
var travelMode = google.maps.DirectionsTravelMode.DRIVING;

function createMarkerWithImage(latlng, label, html, img) {
    var contentString = '<b>' + label + '</b><br>' + html;
    var marker = new google.maps.Marker({
        position: latlng,
        map: map,
        title: label,
        zIndex: Math.round(latlng.lat() * -100000) << 5,
        icon: img,
    });

    google.maps.event.addListener(marker, 'click', function() {
        infowindow.setContent(contentString);
        infowindow.open(map, marker);
    });
    return marker;
}

function createMarker(latlng, label, html) {
    var contentString = '<b>' + label + '</b><br>' + html;
    var marker = new google.maps.Marker({
        position: latlng,
        map: map,
        title: label,
        //zIndex: Math.round(latlng.lat() * -100000) << 5,
    });

    google.maps.event.addListener(marker, 'click', function() {
        infowindow.setContent(contentString);
        infowindow.open(map, marker);
    });
    return marker;
}

function initMap() {
    infowindow = new google.maps.InfoWindow({
        size: new google.maps.Size(150, 50)
    });

    directionsService = new google.maps.DirectionsService();


    var myOptions = {
        zoom: 13,
        mapTypeId: google.maps.MapTypeId.ROADMAP
    }
    map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
    address = 'Hannover'
    geocoder = new google.maps.Geocoder();
    geocoder.geocode({
        'address': address
    }, function(results, status) {
        map.setCenter(results[0].geometry.location);
    });


    var rendererOptions = {
        map: map
    }
    directionsDisplay = new google.maps.DirectionsRenderer(rendererOptions);


    stepDisplay = new google.maps.InfoWindow();
    polyline = new google.maps.Polyline({
        path: [],
        strokeColor: '#FF0000',
        strokeWeight: 3
    });
    poly2 = new google.maps.Polyline({
        path: [],
        strokeColor: '#FF0000',
        strokeWeight: 3
    });
}


var steps = []

function initRequest() {
    var myWaypoints = [];
    //waypoints.add(new google.maps.LatLng(marker.position));
    var request = {
        origin: start,
        destination: end,
        waypoints: myWaypoints,
        travelMode: travelMode
    };
    createMarker(new google.maps.LatLng(start), "Starting Point", "");
    createMarker(new google.maps.LatLng(end), "Target Point", "");
    calcRoute(request, false)
}


function calcRoute(request, redirect) {
    if (timerHandle) {
        clearTimeout(timerHandle);
    }
    if (marker) {
        marker.setMap(null);
    }
    polyline.setMap(null);
    poly2.setMap(null);
    directionsDisplay.setMap(null);
    polyline = new google.maps.Polyline({
        path: [],
        strokeColor: '#FF0000',
        strokeWeight: 3
    });
    poly2 = new google.maps.Polyline({
        path: [],
        strokeColor: '#FF0000',
        strokeWeight: 3
    });
	var rendererOptions = {
  		suppressMarkers: true,
    	map: map
	}
    directionsDisplay = new google.maps.DirectionsRenderer(rendererOptions);

    directionsService.route(request, function(response, status) {
        if (status == google.maps.DirectionsStatus.OK) {
            directionsDisplay.setDirections(response);
            var bounds = new google.maps.LatLngBounds();
            var route = response.routes[0];
            startLocation = new Object();
            endLocation = new Object();

            var path = response.routes[0].overview_path;
            var legs = response.routes[0].legs;
            for (i = 0; i < legs.length; i++) {
                if (i == 0) {
                	if(redirect){
                		startLocation.latlng = marker.position;
                    	startLocation.address = legs[i].start_address;
                	} else {
                    	startLocation.latlng = legs[i].start_location;
                    	startLocation.address = legs[i].start_address;
                    }
                    if (!redirect){
                    	marker = createMarkerWithImage(legs[i].start_location, "start", legs[i].start_address, "static/jan-64.png");
                	} else {
                		marker = createMarkerWithImage(marker.position, "start", "", "static/jan-64.png");
                	}
                }
                endLocation.latlng = legs[i].end_location;
                endLocation.address = legs[i].end_address;
                var steps = legs[i].steps;
                for (j = 0; j < steps.length; j++) {
                    var nextSegment = steps[j].path;
                    for (k = 0; k < nextSegment.length; k++) {
                        polyline.getPath().push(nextSegment[k]);
                        bounds.extend(nextSegment[k]);

                    }
                }
            }
            polyline.setMap(map);
            // map.fitBounds(bounds);
            // map.setZoom(18);
            startAnimation();
        }
    });
}
var redirectionsService;
var redirectingDisplay;
var requestMarkers = [];
var movingMarkers = [];

function receiveRequest(){
  var waypoints = []
  	waypoints.push({
       location: marker.position
	});
  {% for point in waypoints%}
  		var mypoint = {{point}};
		waypoints.push({
        	location: new google.maps.LatLng(mypoint[0],mypoint[1])
		});
  {% endfor %}
  if (redirectingDisplay == null){
redirectingDisplay = new google.maps.DirectionsRenderer({
  	suppressMarkers: true,
    map: map
  })
}
if (redirectionsService == null){
redirectionsService = new google.maps.DirectionsService();
}
  var rideSharingRequest = {
    origin: start,
    destination: end,
    waypoints: waypoints,
    travelMode: travelMode
  }
  redirectionsService.route(rideSharingRequest, function(response, status){
    if (status == google.maps.DirectionsStatus.OK){
      redirectingDisplay.setDirections(response)
    }
  })
  requestMarkers.push(createMarkerWithImage(new google.maps.LatLng({{waypoints}}[0][0], {{waypoints}}[0][1]), "user2", "TODO", "static/robert-64.png"));
    $.get("{{ url_for("ask", name="Robert")}}", function(data) {
        if (data.take == true) {
            acceptRequest();
        }
        else {
            rejectRequest();
        }
    });
}

function acceptRequest(){
  var waypoints = []
  {% for point in waypoints%}
  		var mypoint = {{point}};
		waypoints.push({
        	location: new google.maps.LatLng(mypoint[0],mypoint[1])
		});
  {% endfor %}
    var redirectRequest = {
        origin: marker.position,
        destination: end,
        waypoints: waypoints,
        travelMode: travelMode
    };
  calcRoute(redirectRequest, true)
}

function rejectRequest(){

}


var step = 10;
var tick = 100;
var eol;
var k = 0;
var stepnum = 0;
var speed = "";
var lastVertex = 1;

//=============== animation functions ======================
function updatePoly(d) {

    if (poly2.getPath().getLength() > 20) {
        poly2 = new google.maps.Polyline([polyline.getPath().getAt(lastVertex - 1)]);

    }
    if (polyline.GetIndexAtDistance(d) < lastVertex + 2) {
        if (poly2.getPath().getLength() > 1) {
            poly2.getPath().removeAt(poly2.getPath().getLength() - 1)
        }
        poly2.getPath().insertAt(poly2.getPath().getLength(), polyline.GetPointAtDistance(d));
    } else {
        poly2.getPath().insertAt(poly2.getPath().getLength(), endLocation.latlng);
    }
}

function animate(d) {
    if (d > eol) {
        map.panTo(endLocation.latlng);
        marker.setPosition(endLocation.latlng);
        return;
    }
    var p = polyline.GetPointAtDistance(d);
    //map.panTo(p);
    for (var i = 0; i < requestMarkers.length; i++){
    	if (requestMarkers[i].position == marker.position){
    		console.log(requestMarkers[i].position);
    		console.log(marker.position);
    		console.log("Treffer");
    		movingMarkers.push(requestMarkers[i]);
    		requestMarkers.pop(i);
    	}
    }
    for (movingMarker in movingMarkers){
    	// TODO
    	// show multiple markers
    	// side by side
    	// movingMarker.setPosition(p);
    }
    marker.setPosition(p);
    updatePoly(d);
    timerHandle = setTimeout("animate(" + (d + step) + ")", tick);
}

function startAnimation() {
    eol = polyline.Distance();
    // map.setCenter(polyline.getPath().getAt(0));

    poly2 = new google.maps.Polyline({
        path: [polyline.getPath().getAt(0)],
        strokeColor: "#0000FF",
        strokeWeight: 10
    });

    setTimeout("animate(50)", 2000);
}

//=============== ~animation funcitons =====================

</script>
</head>
<body onload="initMap(); initRequest();">
<button type="button" onclick="receiveRequest()">Click Me!</button> 
<button type="button" onclick="acceptRequest()">Click Me!</button> 
<div id="map_canvas" style="width:100%;height:90%;">
</div>
</body>
</html>

<!--waypoints.location = waypoints.location + (new google.maps.LatLng({{point}}))-->